//
// Buttons
//
.btn-success {
  color: $brand-white;
}

.btn-primary {
  &:hover,
  &:active,
  &:focus {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: $brand-secondary;
  }
}

.btn-secondary {
  &:hover,
  &:active,
  &:focus {
    border-color: $brand-secondary;
    background-color: $brand-secondary;
    color: $brand-white;
  }
}
