//
// Tables
//

.table {
  border-bottom: 3px solid $brand-petrol;

  caption {
    color: $brand-text;
    text-align: center;
  }

  thead {
    th {
      @extend %heading-font-heavy;

      color: $brand-secondary;
      border-bottom: 0;
    }
  }
}
