//
// Tables
//

.table {
  border-bottom: 3px solid $brand-petrol;

  caption {
    text-align: center;
    color: $brand-text;
  }

  thead {
    th {
      @extend %heading-font-heavy;
      border-bottom: 0;
    }
  }
}
