//
// Type Elements
//


// Paragraphs
p {
  &:not(.info),
  &:not(.lead) {
    @extend %body-font-regular;

    line-height: $line-height-base;
    font-size: $companion-font-size;
  }
}

// Links
a {
  &:not([class]) {
    color: $link-color;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      background-color: $link-hover-color-light;
    }
  }
}

// Headlines
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  color: $h1-color;
}

// Code
code {
  background-color: $code-background-color;
  padding: 2px $spacer-xxs;
  line-height: $paragraph-line-height;
  font-size: $font-size-xs;
}

// Lists
ul {
  @extend %body-font-regular;

  &:not([class]) {
    li {
      font-size: $companion-font-size;
      // sass-lint:disable quotes
      list-style-image: url("data:image/svg+xml;utf8,%3c?xml version='1.0' encoding='utf-8'?%3e%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 10 10'%3e%3ccircle fill='%23ff9c66' cx='5' cy='4' r='4'/%3e%3c/svg%3e");
    }
  }
}

dt {
  @extend %heading-font-bold;

  color: $brand-secondary;
}
