//
// Type Elements
//


// Paragraphs
p {
  &:not(.info),
  &:not(.lead) {
    line-height: $line-height-base;
    font-family: $font-family-serif;
    font-size: $companion-font-size;
  }
}

// Links
a {
  color: $link-color;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    background-color: $link-hover-color-light;
  }
}


// Headlines
h1,
.h1,
h2,
.h2,
h3,
.h3,
h6,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: $font-family-sans-serif-heavy;
}

h1,
.h1,
.display-1,
.display-2,
.display-3,
.display-4 {
  color: $h1-color;
}


// Code
code {
  background-color: $code-background-color;
  padding: 2px $spacer-xxs;
  line-height: $paragraph-line-height;
  font-size: $font-size-xs;
}

// Lists
ul {
  &:not([class]) {
    li {
      list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle fill="#ff4d67" cx="5" cy="4" r="4"/></svg>');
    }
  }
}

dt {
  font-family: $font-family-sans-serif-bold;
}
